# Created by venv; see https://docs.python.org/3/library/venv.html
# Python-related files
*.pyc
*.pyo
*.pyd
__pycache__/
*.egg-info/
*.eggs/
pyvenv.cfg

# directories
bin/
include/
etc/
lib/
share/
lib64


# Virtual environment
venv/
.env/
*.env

# Streamlit-specific files
.streamlit/

# Logs and debug files
*.log

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# IDE-specific files
.vscode/
.idea/

# OS-specific files
.DS_Store
Thumbs.db

# Test coverage reports
.coverage

*.crt

